.app {
    -fx-background-color: #293241;
    -fx-font-size: 1.5em;
}

.title1 {
    -fx-font-size: 2em;
    -fx-text-fill: #EE6C4D;
}

.title2 {
    -fx-text-fill: #E0FBFC;
    -fx-font-size: 1.5em;
}

.jfx-text-area {
    -fx-text-fill: #98C1D9;
    -fx-fill: #98C1D9;
    -fx-font-size: 1.3em;
    -fx-font-weight: BOLD;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #22223b;
    -fx-background-color: #2d232e;
}

.left {
    -fx-width: "50%"
}

.right {
    -fx-width: "50%"
}