$navHeight: 3em;
$bodyHeight: calc(100vh - $navHeight);
$radius: 0.4em;
$userHeight: 5 * $radius;

$blue: #6699cc;
$red: #f2777a;
$green: #99cc99;
$grey: #282a2e;
$limestone: #585a5e;
$background: #1d1f21;
$foreground: #ccc;

$darkblue: #4271ae;

body {
    background-color: $background;
}

.tab-config {
    padding: 1em;

    span.bold {
        font-weight: bold;
    }
}

.myContentClass {
    border-bottom: 1px solid darkorange;
}

.no-padding {
    padding: 0;
}

.no-show {
    display: none;
}

#language-dropdown {
    color: $foreground;
}

.navbar {
    height: $navHeight;
    border-bottom: 1px solid #333;
}

.my-container-row {
    margin: 0;
    height: $bodyHeight;
}

.editor {
    height: $bodyHeight;
}